<#include "base.ftl">
<#macro title>
    <title>SIMPLIFY</title>
    <link rel="shortcut icon" href="pancake.jpg" type="image/jpg">
</#macro>

<#macro content>
    <br>
    <h1 id="about">
        SIMPLIFY
        <small class="text-muted">Немного информации</small>
    </h1>

    <br>

    <h2>Что известно о данном сайте?</h2>

    <br>

    <p class="lead">
        Сервис предоставляет людям, которые заинтересованы в сбалансированном питании, удобный интерфейс и базу простых
        полезных рецептов.

        Сервис предоставляет возможность высчитывать КБЖУ в зависимости от индивидуальных параметров и целей,
        настраивать индивидуальный план исходя
        из предпочтений в еде, то есть исключать
        или, наоборот, сделать необходимым
        наличие определенного вида продукта.

        Также сервис предоставляет пошаговый план готовки блюда по составленному и меню и список аналогов продукта
    </p>

    <br>

    <h3 class="treiler">КАКИЕ ПРОБЛЕМЫ РЕШАЕТ ПРОДУКТ</h3>

    <p class="lead">
    <h5>РАСЧЕТ КБЖУ</h5>
    Возможность высчитывания КБЖУ в зависимости от индивидуальных параметров и целей пользователей
    <br>
    <br>

    <h5>УДОБСТВО И ПРОСТОТА ИСПОЛЬЗОВАНИЯ</h5>
    База простых и доступных рецептов, удобный и интуитивно понятный интерфейс, а также пошаговые инструкции и видео по приготовлению блюд.
    <br>
    <br>

    <h5>ПЛАНИРОВАНИЕ РАЦИОНА</h5>
    Возможность составления меню на день/неделю с пошаговым планом готовки и учетом КБЖУ
    <br>
    <br>

    <h5>ИНТЕРАКТИВНОСТЬ</h5>
    Возможность общения с другими пользователями, обмена рецептами и отзывами на блюда
    </p>
</#macro>
